{% extends "base.html" %}

{% block container %}
  <div class="card">
    {% if updated %}
      <div class="alert alert-success my-3 text-center" role="alert">
        Transferência realizada com sucesso.
      </div>
    {% endif %}
    <div class="alert alert-primary my-3 text-center" role="alert">
      Meu {% if updated %}novo {% endif %}saldo: <strong>{{ saldo }}</strong> moedas
    </div>
    

    {% if request.user.professor %}
      <div>
        <form action="" method="POST" class="d-flex flex-column align-items-center w-100 px-3 mb-3">
          <h3>Transferir moedas</h3>
          {% csrf_token %}
          <div class="w-100 d-flex flex-row">
            <label for="value">Número de moedas para transferir:</label>
            <input type="number" class="form-control my-3" name="value" required min="1" max="{{saldo}}">
          </div>
          <div class="w-100 d-flex flex-row justify-content-start">
            <label for="aluno">Aluno destinatário:</label>
            <select name="aluno" class="form-control" required>
              {% for aluno in aluno_list %}
                <option value="{{aluno.id}}">{{aluno.nome}}</option>
              {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-success">Salvar</button>
        </form>
      </div>
    {% endif %}
  </div>
{% endblock %}